*.m4v

/SOMoviePlayer/SOMoviePlayer.xcodeproj/project.xcworkspace/xcuserdata/soh_la.xcuserdatad/UserInterfaceState.xcuserstate

/SOMoviePlayer/SOMoviePlayer/FinalAudio/

/SOMoviePlayer/SOMoviePlayer/testMovies/
